body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;;
}

.container{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 600px;
    box-shadow: 1px 0px 20px 2px rgb(0,0,0,0.4);
}

.left{
    color: white;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
}

.yourScore{
    font-weight: 800;
    font-size: 70px;
}

.totalScore{
    color: lightblue;
    
}

p{
    font-size: 18px;
    color: hsl(221, 100%, 96%);
}



.mainScore{
    padding: 50px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    box-shadow:inset 1px 1px  12px 0px hsla(256, 72%, 46%, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.right{
    padding: 30px;
    width: 50%;
}

.score{
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;

}

.reaction{
    background-color:hsl(0, 100%, 67%,0.1) ;
    color:  hsl(0, 100%, 67%);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    color:hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color:hsl(166, 100%, 37%) ;
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1); 
    color: hsl(234, 85%, 45%);
}


.firstScore{
    color:hsl(224, 30%, 27%) ;
}

.totalSummary{
   color: hsl(241, 100%, 89%);
}

button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    color: white;
    outline: none;
    background-color: hsl(224, 30%, 27%);
    border-radius: 15px;
    width: 100%;

}
/* RESPONSIVE */

@media(max-width:760px) {
    .left{
        width: 100%;
        border-radius:0px;
        border-bottom-left-radius:20px ;
        border-bottom-right-radius:20px;
    }

    .right{
        padding: 0;
        width: 80%;
    }
    

    .container{
        width: 100%;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
        border-radius: 0px;
    }

    .text{
        text-align: center;
        padding: 20px;
    }

}